* {
    margin: 0;
    padding: 0;
    background-color: #ffff;
    list-style: none;
    text-decoration: none;
}

header {
    display: flex;
    width: 1440px;
    height: 72px;
    justify-content: space-between;
    position: fixed;
    margin-top: 16px;
    margin-right: 64px;
    margin-bottom: 16px;
    margin-left: 64px;
}

nav {
    display: flex;
    gap: 40px;
    width: 378px;
    height: 24px;
}

.LogoHeader img{
    width: 100px;
    height: 24px;
}

.ItemsHeader li a{
    color: #94a3b8;
    font-family: 'poppins', serif;
    font-weight: 500;
    font-size: 16px;
}

.login-btn {
    width: 152px;
    height: 40px;
    font-family: 'poppins', serif;
    font-size: 16px;
    border-radius: 8px;
    weight: 600px;
}