@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*estilizacao padrao*/
* {
    margin: 0;
    padding: 0;
    background-color: #ffff;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction:column;
}
/*estilizacao do header*/

header {
    display: flex;
    width: 100%;
    height: 72px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    border: 1px solid #94a3b8;
}

nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 378px;
    height: 24px;
}

.LogoHeader img{
    width: 100px;
    height: 24px;
}

.ItemsHeader li a{
    color: #94a3b8;
    font-family: 'poppins', serif;
    font-weight: 500;
    font-size: 16px;
}

.login-btn {
    background-color: #6729FF;
    border-color: #6729FF;
    font-weight: bold;
    color: #FFFFFF;
    width: 152px;
    height: 40px;
    font-family: 'poppins', serif;
    font-size: 16px;
    border-radius: 8px;
}

.cadastro-btn {
    width: 152px;
    height: 40px;
    font-family: 'poppins', serif;
    font-size: 16px;
    font-weight: bold;
    color: #94A3B8;
    border: none;
}

.ItemsHeader li:first-child a {
    color: #6729FF;
}

/*estilizacao do bloco 1 do card 1*/

.container_bloco1 {
    display: flex;
    width: 100%;
    height: 698px;
    border-bottom: 1px solid #94a3b8;
}

.first_card {
    display: flex;
    width: 50%;
    height: 698px;
    align-items: center;
    justify-content: center;
}

.first_card_son {
    display: flex;
    width: 503px;
    height: 526px;
    align-items: center;
}

.only_text_first_card {
    display: flex;
}

#only_text_first_card p:first-child {
    margin-top: 100px;
    font-size: 64px;
    font-weight: bold;
    font-family: 'poppins', serif;
    color: #475569;
}

#only_text_first_card p:nth-child(2) {
    font-size: 16px;
    color: #64748B;
    font-family: 'poppins', serif;
    margin-bottom: 40px;
}

.first_card_btn {
    display: flex;
    width: 383px;
    height: 40px; 
}

.first_card-first_btn {
    width: 260px;
    height: 40px;
    font-size: 16px;
    font-family: 'poppins', serif;
    font-weight: bold;
    color: #6729FF;
    background-color: #EEE5FF;
    border-radius: 8px;
    border: none;
    margin-bottom: 40px;
}

.first_card-second_btn {
    color: #64748B;
    font-size: 16px;
    font-family: 'poppins', serif;
    font-weight: bold;
    border: none;
}

.img_line {
    display: flex;
    margin-bottom: 40px;
}

.img_text p {
    font-weight: 500;
    font-size: 14px;
    font-family: 'poppins', serif;
    color: #94A3B8;
}

/*estilizacao do bloco 1 card 2*/

.div_container_card_2 {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 698px;
    background-color: #6729FF;
}

.mobile_simulator1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #6729FF;
    
}

#mobile1 {
    width: auto;
    height: 550px;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
}

/*Estilizacao do segundo bloco*/

.container_bloco2 {
    height: 698px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.central_container2 {
    display: flex;
    flex-direction: row;
    height: 512px;
    width: 80%;
    
} 

/*Posicionamento do card1 do segundo bloco*/

.bloco2_card1 {
    display: flex;
    height: 100%;
    width: 40%;
}

/*posicionamento card2 do segundo bloco*/
.bloco2_card2 {
    display: flex;
    height: 100%;
    width: 60%;
}

/*Estilizacao do card1 do segundo bloco*/
#first_txt {
    font-family: 'poppins', serif;
    font-size: 16px;
    color: #6729FF;
    font-weight: bolder;
}

#snd_txt {
    font-family: 'outfit', serif;
    font-size: 40px;
    font-weight: 500;
    color: #475569;
}

.nb {
    font-family: 'outfit', serif;
    font-size: 40px;
    font-weight: 700;
    color: #6729FF;
}

#trd_txt {
    margin-top: 20px;
    font-family:'poppins', serif;
    font-size: 16px;
    font-weight: 400;
    color: #475569;
}

#frth_txt {
    margin-top: 25px;
    font-weight: 500;
    font-family: 'poppins', serif;
    font-size: 16px;
    color:#6729FF;

}

/*Estilizaçao do card 2 bloco 2*/
.bloco2_card2 {
    display: flex;
    flex-direction: column;
}

.container_bloco2_1 { /*Bloco que abriga Recompensas e descontos*/
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bloco2_1 { /*Bloco q abriga recompensas*/
    height: 160px;
    width: 382px;
    border: 1px solid #E2E8F0;
    border-radius: 8px;
}

#bloco2_1-1 { /*Para deixar o ícone e o "Recompensa" lado a lado*/
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    
    
}

#rec {
    margin-top: 15px;
    font-family: 'Outfit', serif;
    color: #6729FF;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
}

#gift {
    background-color: #EEE5FF;
    border-radius: 5px;
    height: 48px;
    width: 48px;
}

#txt2_1-1 {
    font-family: 'poppins', serif;
    font-weight: 400;
    font-size: 14px;
    color:#64748B;
}
/*Bloco de recompensas feito mas falta ajustes*/

/*Estilizacao de Descontos*/

#bloco2_2 { /*Abriga Descontos*/
    height: 160px;
    width: 330px;
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#percent {
    background-color: #EEE5FF;
    border-radius: 5px;
    height: 48px;
    width: 48px;
}

#bloco2_1-2 { /*Para deixar o ícone e o "Recompensa" lado a lado*/
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

#discount {
    margin-top: 15px;
    font-family: 'Outfit', serif;
    color: #6729FF;
    font-size: 20px;
    font-weight: 600;
    adding-left: 5px;
}

#txt2_1-2 {
    font-family: 'poppins', serif;
    font-weight: 400;
    font-size: 14px;
    color:#64748B;
}

/*testes de ajustes para posicionamento do cartao internacional, cashback etc*/

.container_bloco2_2 {
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
}

#bloco2_card2_1-1 { /*abriga ícone do cashback e titulo; para deixa-los lado a lado*/
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#cash {
    height: 48px;
    width: 48px;
    border-radius: 5px;
    background-color: #EEE5FF;
}

#cashback {
    margin-top: 15px;
    font-family: 'Outfit', serif;
    color: #6729FF;
    font-size: 20px;
    font-weight: 600;
}

.bloco2_card2-1 {
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    width: 317px;
    height: 160px;
}

#txt-cashback {
    font-family: 'poppins', serif;
    font-weight: 400;
    font-size: 14px;
    color:#64748B;
}

/*Cartao Internacional*/

.card-icon {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#creditcard {
    height: 48px;
    width: 48px;
    border-radius: 5px;
    background-color: #EEE5FF;
}

#card-title {
    margin-top: 15px;
    font-family: 'Outfit', serif;
    color: #6729FF;
    font-size: 20px;
    font-weight: 600;
}

.txt_creditcard {
    font-family: 'poppins', serif;
    font-weight: 400;
    font-size: 14px;
    color:#64748B;
}

.bloco2_card2-2 {
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    width: 395px;
    height: 160px;
}

/*desenvolvimento do terceiro card do segundo bloco. (Carteira Digital)*/
.container_bloco2_3 {
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
    background-color: #F3F2FF;
    border-radius: 16px;
    border-radius: 8px;
}

.bloco2_card3-1 {
    display: flex;
    flex-direction: column;
    background-color:#F3F2FF;
}

.digitalwallet-icon_container {
    display: flex;
    flex-direction: row;
    background-color:#F3F2FF;
}

#digitalwallet {
    height: 48px;
    width: 48px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

#digitalwallet-title {
    margin-top: 15px;
    font-family: 'Outfit', serif;
    color: #6729FF;
    font-size: 20px;
    font-weight: 600;
    background-color:#F3F2FF;
}

.txtdigitalwallet {
    font-family: 'poppins', serif;
    font-weight: 400;
    font-size: 14px;
    color:#64748B;
    background-color:#F3F2FF;
}

.bloco2_card3-2 {
    display: flex;
    background-color: #F3F2FF;
    align-items: center;
    justify-content: flex-end;
}

#rectanglecard {
    background-color: #F3F2FF;
    margin-top: 50px;
    margin-right: 50px;
}