@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*estilizacao padrao*/
* {
    margin: 0;
    padding: 0;
    background-color: #ffff;
    list-style: none;
    text-decoration: none;
}
/*estilizacao do header*/
header {
    display: flex;
    width: 100%;
    height: 72px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    border: 1px solid #94a3b8;
}

nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 378px;
    height: 24px;
}

.LogoHeader img{
    width: 100px;
    height: 24px;
}

.ItemsHeader li a{
    color: #94a3b8;
    font-family: 'poppins', serif;
    font-weight: 500;
    font-size: 16px;
}

.login-btn {
    background-color: #6729FF;
    border-color: #6729FF;
    font-weight: bold;
    color: #FFFFFF;
    width: 152px;
    height: 40px;
    font-family: 'poppins', serif;
    font-size: 16px;
    border-radius: 8px;
}

.cadastro-btn {
    width: 152px;
    height: 40px;
    font-family: 'poppins', serif;
    font-size: 16px;
    font-weight: bold;
    color: #94A3B8;
    border: none;
}

.ItemsHeader li:first-child a {
    color: #6729FF;
}

/*estilizacao do bloco 1*/

.container_bloco1 {
    display: flex;
    width: 100%;
    height: 698px;
}

.first_card {
    display: flex;
    width: 50%;
    height: 698px;
    align-items: center;
    justify-content: center;
}

.first_card_son {
    display: flex;
    width: 503px;
    height: 526px;
    align-items: center;
}

.only_text_first_card {
    display: flex;
}

#only_text_first_card p:first-child {
    margin-top: 100px;
    font-size: 64px;
    font-weight: bold;
    font-family: 'poppins', serif;
    color: #475569;
}

#only_text_first_card p:nth-child(2) {
    font-size: 16px;
    color: #64748B;
    font-family: 'poppins', serif;
    margin-bottom: 40px;
}

.first_card_btn {
    display: flex;
    width: 383px;
    height: 40px; 
}

.first_card-first_btn {
    width: 260px;
    height: 40px;
    font-size: 16px;
    font-family: 'poppins', serif;
    font-weight: bold;
    color: #6729FF;
    background-color: #EEE5FF;
    border-radius: 8px;
    border: none;
    margin-bottom: 40px;
}

.first_card-second_btn {
    color: #64748B;
    font-size: 16px;
    font-family: 'poppins', serif;
    font-weight: bold;
    border: none;
}

.img_line {
    display: flex;
    margin-bottom: 40px;
}

.img_text p {
    font-weight: 500;
    font-size: 14px;
    font-family: 'poppins', serif;
    color: #94A3B8;
}
